@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  --background-color: #fff;
  --text-color: #2e3436;
  --text-color-red: #c00;
  --text-color-orange: #c85000;
  --text-color-yellow: #c4a000;
  --text-color-green: #4e9a06;
  --text-color-blue: #06989a;
  --text-color-indigo: #3465a4;
  --text-color-violet: #75507b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2e3436;
    --text-color: #d3d7cf;
    --text-color-red: #ef2929;
    --text-color-orange: #f6893c;
    --text-color-yellow: #fce94f;
    --text-color-green: #8ae234;
    --text-color-blue: #34e2e2;
    --text-color-indigo: #729fcf;
    --text-color-violet: #ad7fa8;
  }
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.3;
  margin: 0.6em 1em 2.6em 1em;
  max-width: 120ch;
}
body, code, kbd, samp, var {
  font-family: 'Roboto Mono', monospace;
}
header {
  display: flex;
  gap: 2ch;
}
header > div:nth-child(2) {
  flex: 1;
  text-align: center;
}
@media (max-width: 575px) {
  header > div:nth-child(n+2) {
    display: none;
  }
}
h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.3em 0 0 0;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  font-weight: bold;
}
p, table {
  margin: 0;
  padding: 0 0 0 4ch;
}
:is(p, table) + :is(p, table) {
  margin-top: 1.3em;
}
code {
  color: var(--text-color-indigo);
}
samp.pre-line {
  display: block;
  margin-top: -1.3em;
  white-space: pre-line;
}
samp > i {
  font-style: normal;
}
var {
  color: var(--text-color-indigo);
  font-style: italic;
}
var::before {
  content: '<';
}
var::after {
  content: '>';
}
table {
  border-spacing: 0;
}
table :is(th, td) {
  padding: 0;
  text-align: left;
  vertical-align: top;
}
table :is(th, td):nth-child(n+2) {
  padding-left: 2ch;
}
table th {
  font-weight: normal;
  white-space: nowrap;
}
table.index th {
  text-align: right;
}
table.index tr:nth-child(n+2) :is(th, td) {
  padding-top: 1.3em;
}
@media (max-width: 575px) {
  table.index, table.index tr {
    display: block;
  }
  table.index tbody {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }
  table.index :is(th, td) {
    display: inline;
    padding: 0 !important;
  }
  table.index th::after {
    content: ' - ';
  }
}
.break {
  word-break: break-all;
}
.nowrap {
  white-space: nowrap;
}
